<%= form_with(url: "/messages", method: "post")do |form| %>
  <div>
    <%= form.label :Message %><br> 
    <%= form.text_field :title %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.hidden_field :friend_id, value: @friendship.friend.id %>
   
   </div>
  <div><%= form.submit %></div>
<% end %>