


<table class="table"> 
  <% User.all_except(current_user).each do |user| %>
    <%# @friend = Friendship.where(user_id: user.id, friend_id: current_user.id).first %>
      <tr>
          <td><%= user.user_name %></td>
          <td><%= user.email%></td>
          <td>

              <%# byebug %>
            <% if @friend.blank? %>
              <%= link_to 'Add Friend', friendships_path( user_id: current_user.id, friend_id: user.id), method: :post %>
            <% if  (request.request_id != current_user.id) %>
            <% else %>
            <%= link_to 'Cancel request', '/friendships/:id', method: :delete %>
            <% end %>
            <% end %>

          
             <%# if @friend.blank? %>
             <%# byebug %>
             <%# a = Friendship.where(user_id: current_user.id, friend_id: user.id) %>
              <%# if  a.blank? %>
              <%= link_to 'Add Friend', friendships_path( user_id: current_user.id, friend_id: user.id), method: :post %>
              <%# else %>

                <%= link_to 'Cancel request', '/friendships/:id', method: :delete %>
               <%# end %>
          </td>
      </tr>
  <% end %>
</table>

