 
 
<h4>Friends</h4>
<ul>
    <% a = Friendship.where(friend_id: current_user.id, isfriend: true) %>
    <%# b = Friendship.where(user_id: @friendship.id, isfriend: true) %>
      <% a.each do |form| %>
        <li>
          <%= form.user.user_name %>
        </li>
      <% end %>
</ul>



<div class="card" style="width: 60rem; color: black;">
  <div class="card-body">
  <h1>Networks</h1>
    <div style="margin-left: 55rem;"></div><br>
    <table class="table table-bordered border-dark">
      
      <tbody>
       <% User.all_except(current_user).each do |user| %>
        <tr>
          <td> <a class="nav-link" href="<%= user_path(user.id) %>" style= "color: black;"><%= user.user_name %></a></td>
        <% a = Friendship.where(user_id: current_user.id, friend_id: user.id) %>

          <% if  a.blank? %>
          <td><%= link_to 'Add Friend', friendships_path( user_id: current_user.id, friend_id: user.id, isfriend: true), method: :post %></td>
           <% else %>
          <td><%= link_to 'Cancel request', friendship_path(a), method: :delete %></td>
          <% end %>
        </tr>
      </tbody>
      <% end %>
    </table>
    </div>
</div>


 



